* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  color: #333;
  background-color: #fafafa;
}

.content-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.posts {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
  margin-top: 2rem;
}

.post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 2rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.02);
  }

  &__title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  &__body {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}

#load-more {
  text-align: center;
  padding: 1rem;
}
